.edit-report-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    margin-bottom: 20px;
  }

  .report-image {
    max-height: 300px;
    max-width: 370px;
    width: auto;
    height: auto;
  }

  p {
    margin: 0;
  }
}
