.my-reports {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
  }

  .reports-section {
    margin-bottom: 20px;
    .report {
      border-bottom: 1px solid gray;
      margin-bottom: 10px;
    }
  }
}
