.password-reset {
  form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: white;
    }

    .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
      color: white;
    }

    .MuiOutlinedInput-root {
      color: white;
    }

    .MuiInputLabel-root {
      color: white;
    }

    .MuiSvgIcon-root {
      color: white;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: white !important;
    }
  }
}
