.report-container {
  h1 {
    color: white;
    text-align: center;
  }

  p {
    color: white;
    margin: 0;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: white;
    }

    .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
      color: white;
    }

    .MuiOutlinedInput-root {
      color: white;
    }

    .MuiInputLabel-root {
      color: white;
    }

    .MuiSvgIcon-root {
      color: white;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: white !important;
    }
  }
}
