.email-password-reset {
  h1 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }
  form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 20px;

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: white;
    }

    .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
      color: white;
    }

    .MuiOutlinedInput-root {
      color: white;
    }

    .MuiInputLabel-root {
      color: white;
    }

    .MuiSvgIcon-root {
      color: white;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: white !important;
    }
  }
}
