.student-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1,
  h2 {
    color: white;
  }

  p {
    margin: 0;
  }

  .report-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;

    .count-container {
      display: flex;
      gap: 10px;
    }
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }

  .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
    color: white;
  }

  .MuiOutlinedInput-root {
    color: white;
  }

  .MuiInputLabel-root {
    color: white;
  }

  .MuiSvgIcon-root {
    color: white;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }
}
