.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;
  }

  p {
    margin: 0;
  }

  .MuiFormControl-root {
    margin-bottom: 20px;
  }

  .summary-column {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
  }

  .summary-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .count-row {
      display: flex;
      gap: 20px;
    }
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }

  .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
    color: white;
  }

  .MuiOutlinedInput-root {
    color: white;
  }

  .MuiInputLabel-root {
    color: white;
  }

  .MuiSvgIcon-root {
    color: white;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }
}
